*{
    box-sizing: border-box;
}

body{
    margin: 0px;   
    padding: 0px;
}

.toolbox-cont{
    padding: 0px;
    background-color: grey;
    display: flex;
}


.color-cont{
    margin: 10px;
    padding: 20px;
    background-color: #595959;
    width: 18rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
        
}

.color-cont>div{
    width: 3rem;
    height: 300%;
    display: flex;
    
   
}

.box1{
   background-color: lightpink;
}

.box2{
    background-color: lightgreen;
}

.box3{
    background-color: lightblue;
}

.box4{
    background-color: black;
}

.action-cont{
    margin: 10px;
    padding: 10px;
    background-color: #595959;
    color: white;
    width: 5rem;
    font-size: 1.5em;
    display: flex;
    justify-content:space-between; 
}

.main-cont{
    width: 50rem;
    height: 25rem;
    background-color: lightgray;
    display: none;
    position: absolute;
    top: 25vh;
    left: 20vw;
}

.textarea-cont{
    width: 75%;
    height: 100%;
    background-color: #dfe4ea;
    border: none;
    resize: none;
    font-size: 2rem;
    outline: none;
}

.priority-color-cont{
    width: 25%;
    height: 100%;
    background-color: #595959;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    
}

.priority-color-cont>div{
    width: 50%;
    height: 3rem;
}

.ticket-cont{
    height: 12rem;
    width: 15rem;
    background-color: #f1f2f6;
}

.ticket-color{
    height: 1rem;
   
}

.ticket-id{
    height: 2rem;
    background-color: red;
}

.task-area{
    height: calc( 100% - 1rem - 2rem );
    font-size: 1.5rem;
}

.ticket-lock{
    display: flex;
    justify-content: flex-end;
    margin-top: -18px;
    margin-right: 10px;
}

.container{
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 20px;
    flex-wrap: wrap;
}

.active{
    border: 5px solid red;
}

