<html lang="eng">
    <head>
        <title>My Blogs</title>
    </head>
    <body>
        <nav>
            <div class="site-title">
                <a href="/"><h1>My Blog</h1></a>
            </div>
            <ul>
                <li><a href="/">Blogs</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/blogs/create">New Blog</a></li>
            </ul>
        </nav>

        <div class="create-blog content">
            <form>
                <label for="title">Blog title</label>
                <input type="text", id="title">
                <label for="snippet">Blog snippet</label>
                <input type="text", id="snippet">
                <label for="body">Blog body</label>
                <textarea id="body"></textarea>
                <button>Submit</button>
            </form>
        </div>
    </body>    
</html>    